.pkm-info-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px auto;

  background-color: var(--dark-purple);
  border: 2px solid var(--dark-green);
  border-radius: 20px;
  color: white;
  width: 87vw;
  max-height: 90vh;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#data-image {
  width: min(77%, 360px);
  max-height: 35vh;
}

.pkm-data-container {
  text-align: center;
  width: clamp(200px, 50%, 1000px);
}

.pkm-data-container p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.name-number-container {
  margin-bottom: 15px;
}

.name-number-container h2 {
  display: inline;
  margin-right: 8px;
  text-transform: capitalize;
}

.name-number-container p {
  font-size: var(--small-font);
  display: inline;
}


#pkm-stats-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin-bottom: 15px;
}

.weak-res-ul {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

#code-button li {
  width: auto;
}

#pkm-stats-ul li {
  background-color: var(--light-purple);
  border: none;
  border-radius: 10px;
  width: max(47%, 210px);
  padding: 5px 10px;

  display: flex;
  justify-content: space-between;
}

#pkm-stats-ul span {
  font-size: var(--small-font);
}

.types-weak-and-ress {
  width: auto;
  font-size: var(--small-font);
  display: block;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}