* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;

  --dark-purple: #231E36;
  --light-purple: #9284BF;
  --dark-green: #0CC738;

  font-size: 20px;
  --small-font: 0.75rem;
  --x-small-font: 0.5rem;
  --large-font: 1.5rem;
  --x-large-font: 2rem;
}

body {
  background-color: var(--dark-purple);
}

button {
  cursor: pointer;
}